/* BlogDetail.css */

.markdownContent {
    line-height: 1.6;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
}

.markdownContent h1 {
    font-size: 2rem;
        /* Default size for larger screens */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.markdownContent h2 {
    font-size: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.markdownContent h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.markdownContent h4 {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.markdownContent h5 {
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.markdownContent h6 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.markdownContent p {
    margin-bottom: 1rem;
    font-size: 15px;
}

.markdownContent img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.markdownContent code {
    background-color: #f4f4f4;
    padding: 4px 6px;
    border-radius: 4px;
}

.markdownContent pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.markdownContent ul,
.markdownContent ol {
    padding-left: 20px;
    margin-bottom: 1rem;
}

.markdownContent li {
    margin-bottom: 0.5rem;
}

.markdownContent blockquote {
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    padding: 10px;
    font-style: italic;
    margin: 20px 0;
}

.markdownContent a {
    color: #007bff;
    text-decoration: underline;
}

.markdownContent a:hover {
    text-decoration: none;
}
/* Responsive styles for phones */
@media (max-width: 768px) {
    .markdownContent h1 {
        font-size: 1.75rem;
        /* Slightly smaller for phone screens */
    }

    .markdownContent h2 {
        font-size: 1.5rem;
    }

    .markdownContent h3 {
        font-size: 1.25rem;
    }

    .markdownContent h4 {
        font-size: 1.125rem;
    }

    .markdownContent h5 {
        font-size: 1rem;
    }

    .markdownContent h6 {
        font-size: 0.875rem;
    }

    .markdownContent p {
        font-size: 14px;
        /* Adjust font size for better readability on smaller screens */
    }

    .markdownContent pre {
        font-size: 13px;
        /* Slightly smaller for code blocks */
    }
}